EXPO_PUBLIC_API_BASE_URL=postgres://postgres:passsword@localhost:5432/questify_db
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBCpTVTMOsv6EbiKgN_5x3ippDRYHLz1Sc
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="questified.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID=questified
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=questified.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=694057889577
EXPO_PUBLIC_FIREBASE_APP_ID=1:694057889577:web:affcdae05419c960625138
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-2DYLZJCH1J
